---
const {} = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div
        class="bg-blue-50 max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
        <h2
          class="text-3xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4">
          Begin met het creëren van je eigen lelijke truien
        </h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">
          Selecteer het aantal hieronder. Minimaal 100 stuks.
        </p>
        <div class="text-left max-w-3xl mx-auto">
          <script is:inline charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js?pre=1"></script>
          <script is:inline>
            hbspt.forms.create({
              region: "na1",
              portalId: "4318501",
              formId: "7219c387-58c8-4a1e-9f12-9f750e061e6c"
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
