---
const {} = Astro.props;
---

<section class="relative">
  <div class="bg-blue-50 max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div
        class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none"
      >
        <h2
          class="text-3xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4"
        >
        Vi har modtaget din besked
        </h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">
          Tak for din henvendelse, en ansat hos Roody vil kontakte dig snarest.
        </p>
      </div>
    </div>
  </div>
</section>
