---
const {} = Astro.props;
---

<section class="relative">
  <div class="bg-blue-50 max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div
        class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none"
      >
        <h2
          class="text-3xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4"
        >
          Erstellen Sie Ihre eigenen hässlichen Pullover
        </h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">
          Wählen Sie einfach unten die Menge aus. Minimum nur 100 Einheiten.
        </p>
        <div class="mx-auto text-center p-6">
          <script
            is:inline
            charset="utf-8"
            type="text/javascript"
            src="//js.hsforms.net/forms/v2.js?pre=1"
          ></script>
          <script is:inline>
            hbspt.forms.create({
              region: "na1",
              portalId: "4318501",
              formId: "488ab345-cc85-4539-815c-8d72d7eebe7a",
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
