---
import { Icon } from "astro-icon";
const { } = Astro.props;

const items = [
  {
    title: "Swag som er elsket",
    description: "Vil ikke havne på søppelfylling",
    icon: "tabler:check"
  },
  {
    title: "Bærekraftige materialer",
    description: "Vi bruker gode ting der vi kan",
    icon: "tabler:check"
  },
  {
    title: "Ett tre plantet",
    description: "Ett tre plantet for hver gjenstand vi lager",
    icon: "tabler:check"
  },
]
---

<section class="relative">
  <div class="absolute inset-0 bg-blue-50 pointer-events-none mb-0" aria-hidden="true">
  </div>
  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-0 pt-10 sm:py-6 lg:py-8 lg:pt-10">
      <div class="mb-8 text-center">

        <h2 class="text-3xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4">
          Merch and swag fungerer virkelig - men bare hvis det er bra greier.
        </h2>

      </div>
      <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-0 dark:text-white">
        {items.map(({ title, description, icon }) => (
          <div
          class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <Icon name={icon} class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold rounded-full border-blue-600 border-2" />

            <div class="ml-4 text-xl font-bold">{title}</div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            {description}
          </p>
        </div>
        ))}
      </div>
    </div>
  </div>
</section>