---

const {} = Astro.props;
---

<section>
  <!--<div class="max-w-6xl bg-blue-50 mx-auto px-4 sm:px-6">-->
  <div class="bg-blue-50 mx-auto px-4 sm:px-6">
    <div class="pt-10 md:pt-10 pb-0 md:pb-0">
      <div class="text-center pb-1 md:pb-1">
        <h1
          class="text-3xl md:text-[2.25rem] font-medium leading-tighter tracking-tighter mb-4 lg:mx-20"
        >
        Het duurzaamheidsethos van Roody
        </h1>
        <div class="text-left max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            In een vorig leven werkte ik als managementconsultant. Ik heb meer dan 100 klantenwebsites bezocht in de 10 jaar dat ik als consultant werkte en in ieder bedrijf stonden er dozen met goedkope merkpennen, hardcover dagboeken en fruit of the loom t-shirts.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Ik hou van swag - als di op de correcte manier uitgevoerd wordt, is het een geweldige manier om een ​​merk tot leven te brengen en connecties te maken met klanten en personeel. Toen ik mijn eigen bedrijf startte, wilde ik unieke milieuvriendelijke swag bestellen.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Dus ben ik gaan kijken naar duurzame mogelijkheden. De opties die ik tegenkwam, waren:
          </p>
          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">T-shirts van hennep</li>
            <li class="pb-2">Telefoonhouders van bamboe</li>
            <li class="pb-2">
              Goedkope, gerecyclede plastic herbruikbare bekers
            </li>
          </ul>


          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Ik wilde dit allemaal niet. Ik wilde ze echt niet en mijn klanten of mijn personeel ook niet. Dat een artikel van duurzame materialen gemaakt is, maakt het nog niet duurzaam.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Het gebrek aan beschikbare opties betekende dat ik iets totaal anders ging doen een ben een duurzaam swag-bedrijf begonnen. Roody is opgericht om geweldige producten te maken die niet op de vuilnisbelt belanden. Dus hier zijn de dingen waar we naar kijken wanneer we een product lanceren:
          </p>

          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Is het van goede kwaliteit en zal het waarschijnlijk gebruikt worden?</li>
            <li class="pb-2">Zijn de materialen de meest duurzame materialen die beschikbaar zijn?</li>
            <li class="pb-2">Willen we het voor ons eigen bedrijf?</li>
            <li class="pb-2">Hebben we volledig zicht op de toeleveringsketen en zijn we blij dat werknemers eerlijk worden betaald?</li>
            <li class="pb-2">Zijn de productieprocessen zo milieuvriendelijk mogelijk?</li>
          </ul>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Al onze producten hebben dit proces doorlopen en we testen ze uitgebreid. We maken de meeste van onze eigen producten, wat betekent dat we volledige zichtbaarheid en controle hebben over alle processen. We zijn voortdurend bezig met het ontwikkelen en verbeteren van onze processen en hoewel we snel groeien, doen we geen concessies aan ons ethos terwijl we het bedrijf uitbreiden.
          </p>

          <!--<div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="#features">Learn more
              </a>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <Picture src={import("~/assets/images/hero.jpg")}
              class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
              sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
