---

const {} = Astro.props;
---

<section>
  <!--<div class="max-w-6xl bg-blue-50 mx-auto px-4 sm:px-6">-->
  <div class="bg-blue-50 mx-auto px-4 sm:px-6">
    <div class="pt-10 md:pt-10 pb-0 md:pb-0">
      <div class="text-center pb-1 md:pb-1">
        <h1
          class="text-3xl md:text-[2.25rem] font-medium leading-tighter tracking-tighter mb-4 lg:mx-20"
        >
        Bæredygtighed hos Roody
        </h1>
        <div class="text-left max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            I et tidligere liv arbejdede jeg som konsulent. Jeg besøgte mere end 100 kunder i de 10 år jeg arbejdede som konsulent, og i hver eneste virksomhed var der kasser med billige kuglepenne af mærkevarer, hårdbundne dagbøger og t-shirts af mærket fruit of the loom.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Jeg er vild med lækkert tøj og merchandise - Og hvis det vel at mærke gøres rigtigt, er det en fantastisk måde at give liv til et brand og skabe kontakt med kunder og medarbejdere. Da jeg startede min egen virksomhed ville jeg gerne bestille noget unikt miljøvenligt lækkert tøj.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Så jeg begyndte at se på hvilke bæredygtige muligheder der var tilgængelige. De muligheder jeg overvejede var:
          </p>
          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Hampe t-shirts</li>
            <li class="pb-2">Telefonholdere i bambus</li>
            <li class="pb-2">
              Billige genbrugskopper af genbrugsplast
            </li>
          </ul>


          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Jeg var ikke interesseret i nogle af disse ting. Jeg ville virkelig ikke have dem - og det ville hverken mine kunder eller mit personale heller ikke. Bare fordi en vare er lavet af bæredygtige materialer, er den ikke nødvendigvis bæredygtig i virkeligheden.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Manglen på muligheder betød at jeg lavede en komplet drejning og startede et bæredygtigt firma til lækkert tøj og merchandise. Roody blev stiftet med det formål at lave fantastiske produkter der ikke ender på lossepladsen. Så her er de ting vi overvejer når vi lancerer et produkt:
          </p>

          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Er det af god kvalitet og er det tilbøjeligt til at blive brugt og ikke blot kasseret?</li>
            <li class="pb-2">Er materialerne de mest bæredygtige materialer der findes?</li>
            <li class="pb-2">Vil vi have det til vores egen virksomhed?</li>
            <li class="pb-2">Har vi fuld indsigt i forsyningskæden? Bliver de ansatte betalt rimeligt i forsyningskæden?</li>
            <li class="pb-2">Sker fremstillingen så miljøvenligt som muligt?</li>
          </ul>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Alle vores produkter har været igennem denne proces, og vi tester dem grundigt. Vi fremstiller de fleste af vores egne produkter, hvilket betyder at vi har fuld synlighed og kontrol over hele processen. Vi udvikler og forbedrer hele tiden vores processer, og selv om vi vokser hurtigt går vi ikke på kompromis med vores etik i takt med væksten.
          </p>

          <!--<div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="#features">Learn more
              </a>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <Picture src={import("~/assets/images/hero.jpg")}
              class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
              sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
