---

const {} = Astro.props;
---

<section>
  <!--<div class="max-w-6xl bg-blue-50 mx-auto px-4 sm:px-6">-->
  <div class="bg-blue-50 mx-auto px-4 sm:px-6">
    <div class="pt-10 md:pt-10 pb-0 md:pb-0">
      <div class="text-center pb-1 md:pb-1">
        <h1
          class="text-3xl md:text-[2.25rem] font-medium leading-tighter tracking-tighter mb-4 lg:mx-20"
        >
        Roody bærekraft ethos
        </h1>
        <div class="text-left max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            I et tidligere liv jobbet jeg som lederkonsulent. Jeg besøkte mer enn 100 klienter i løpet av de 10 årene jeg jobbet med rådgivning, og hvert selskap hadde bokser med merkede billige penner, dagbøker og t-skjorter.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Jeg elsker swag - gjort riktig er det en fin måte å bringe en merkevare til liv og få forbindelser med kunder og ansatte. Da jeg startet mitt eget selskap, ønsket jeg å bestille unik miljøvennlig swag. 
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Så jeg begynte å se på hvilke bærekraftige alternativer som var tilgjengelige. Alternativene jeg så var:
          </p>
          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Hamp t-skjorter</li>
            <li class="pb-2">Bambus telefonholdere</li>
            <li class="pb-2">
              Billige gjenbrukbare kopper av resirkulert plast 
            </li>
          </ul>


          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Jeg ville ikke ha noen av disse tingene. Jeg ville virkelig ikke ha dem, og det ville heller ikke kundene mine eller mine anstatte. Bare fordi en vare er laget av bærekraftige materialer, betyr ikke det at den er bærekraftig. 
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Mangelen på tilgjengelige alternativer resulterte i at jeg gjorde en fullstendig dreining og startet et bærekraftig swag-selskap. Roody ble grunnlagt for å lage fantastiske produkter som ikke vil ende i søppelet. Så her er tingene vi ser på når vi lanserer et produkt:
          </p>

          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Er kvaliteten høy, og er det er sannsynlig at det vil bli brukt?</li>
            <li class="pb-2">Er materialene de mest bærekraftige materialene som er tilgjengelige?</li>
            <li class="pb-2">Ville vi bestilt det til vårt eget selskap?</li>
            <li class="pb-2">Har vi full oversikt over leverandørkjeden - er vi sikre på at arbeiderne får rettferdig betalt?</li>
            <li class="pb-2">Er produksjonsprosesser så miljøvennlige som mulig?</li>
          </ul>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Alle våre produkter har vært gjennom denne prosessen, og vi tester dem grundig. Vi lager de fleste av våre produkter selv, noe som betyr at vi har full oversikt og kontroll. Vi utvikler og forbedrer prosessene våre hele tiden, og selv om vi vokser raskt, gjør vi aldri kompromiss når det gjelder vår etos under utvidelsen.
          </p>

          <!--<div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="#features">Learn more
              </a>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <Picture src={import("~/assets/images/hero.jpg")}
              class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
              sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
