---

const {} = Astro.props;
---

<section>
  <!--<div class="max-w-6xl bg-blue-50 mx-auto px-4 sm:px-6">-->
  <div class="bg-blue-50 mx-auto px-4 sm:px-6">
    <div class="pt-10 md:pt-10 pb-0 md:pb-0">
      <div class="text-center pb-1 md:pb-1">
        <h1
          class="text-3xl md:text-[2.25rem] font-medium leading-tighter tracking-tighter mb-4 lg:mx-20"
        >
          Das Roody Nachhaltigkeitsethos
        </h1>
        <div class="text-left max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            In einem früheren Leben habe ich als Unternehmensberater gearbeitet. In den 10 Jahren, in denen ich in der Beratung tätig war, habe ich mehr als 100 Kunden besucht, und in jedem Unternehmen gab es Kisten mit billigen Marken-Kugelschreibern, gebundenen Tagebüchern und Fruit-of-the-Loom-T-Shirts.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Ich liebe Werbegeschenke - richtig eingesetzt sind sie eine großartige Möglichkeit, eine Marke zum Leben zu erwecken und Verbindungen zu Kunden und Mitarbeitern herzustellen. Als ich mein eigenes Unternehmen gründete, wollte ich ein einzigartiges umweltfreundliches Werbegeschenk bestellen.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Also begann ich zu prüfen, welche nachhaltigen Optionen verfügbar
            waren. Die Optionen, die ich sah, waren:
          </p>
          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Hanf-T-Shirts</li>
            <li class="pb-2">Bambus-Telefonhalter</li>
            <li class="pb-2">
              Recycelte, billige, wiederverwendbare Plastikbecher
            </li>
          </ul>


          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Ich wollte nichts von diesen Dingen. Ich wollte sie wirklich nicht haben - ebenso wenig wie meine Kunden oder mein Personal. Nur weil ein Artikel aus nachhaltigen Materialien hergestellt ist, ist er noch lange nicht nachhaltig.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Aufgrund des Mangels an Optionen habe ich mich komplett umorientiert und ein nachhaltiges Unternehmen für Werbegeschenke gegründet. Roody wurde gegründet, um erstaunliche Produkte herzustellen, die nicht auf der Mülldeponie enden. Das sind also die Dinge, auf die wir achten, wenn wir ein Produkt auf den Markt bringen:
          </p>

          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Ist es von guter Qualität und wird es wahrscheinlich benutzt werden.</li>
            <li class="pb-2">Sind die Materialien die nachhaltigsten Materialien, die es gibt.</li>
            <li class="pb-2">Wollen wir es für unser eigenes Unternehmen.</li>
            <li class="pb-2">Haben wir volle Transparenz in der Lieferkette - sind wir sicher, dass die Arbeiter fair bezahlt werden.</li>
            <li class="pb-2">Sind die Herstellungsprozesse so umweltfreundlich wie möglich.</li>
          </ul>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Alle unsere Produkte haben diesen Prozess durchlaufen und wir testen sie ausgiebig. Wir stellen die meisten unserer Produkte selbst her, was bedeutet, dass wir volle Transparenz und Kontrolle haben. Wir entwickeln uns ständig weiter und verbessern unsere Prozesse. Während wir schnell wachsen, machen wir bei unserer Expansion keine Kompromisse bei unserem Ethos.
          </p>

          <!--<div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="#features">Learn more
              </a>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <Picture src={import("~/assets/images/hero.jpg")}
              class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
              sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
