---

const {} = Astro.props;
---

<section>
  <!--<div class="max-w-6xl bg-blue-50 mx-auto px-4 sm:px-6">-->
  <div class="bg-blue-50 mx-auto px-4 sm:px-6">
    <div class="pt-10 md:pt-10 pb-0 md:pb-0">
      <div class="text-center pb-1 md:pb-1">
        <h1
          class="text-3xl md:text-[2.25rem] font-medium leading-tighter tracking-tighter mb-4 lg:mx-20"
        >
        Roodys hållbarhetsetos
        </h1>
        <div class="text-left max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            I ett tidigare liv arbetade jag som managementkonsult. Jag besökte mer än 100 kunder under de 10 år jag arbetade med rådgivning och hos varje företag fanns lådor med företagsvaror som billiga pennor, inbundna anteckningsböcker och fruit of the loom t-shirts.
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Jag älskar swag - och korrekt gjort är det ett bra sätt att väcka ett varumärke till liv och skapa kontakter med kunder och personal. När jag startade mitt eget företag ville jag beställa unik och miljövänlig swag. 
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Så jag började kika runt på vilka hållbara alternativ som fanns. Alternativen jag såg var:
          </p>
          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Hampa t-shirts</li>
            <li class="pb-2">Bambu telefonhållare</li>
            <li class="pb-2">
              Återanvändbara koppar i återvunnen plast
            </li>
          </ul>


          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Jag ville inte ha något av dessa saker. Jag ville verkligen inte ha dem – och inte heller mina kunder eller personal. Bara för att en vara är tillverkad av hållbara material gör det inte hållbart. 
          </p>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Bristen på tillgängliga alternativ innebar att jag gjorde en fullständig vändning och startade ett hållbart swag-företag. Roody grundades för att göra fantastiska produkter som inte kommer att hamna på soptippen. Här är de saker vi tittar på när vi lanserar en produkt:
          </p>

          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">Är det bra kvalitet och sannolikt kommer att användas.</li>
            <li class="pb-2">Är materialen de mest hållbara materialen som finns tillgängliga.</li>
            <li class="pb-2">Vill vi ha det för vårt eget företag.</li>
            <li class="pb-2">Har vi full insyn i leveranskedjan - får arbetstagarna skäligt betalt.</li>
            <li class="pb-2">Är tillverkningsprocesserna så miljövänliga som möjligt. </li>
          </ul>

          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Alla våra produkter har genomgått denna process och vi testar dem i stor utsträckning. Vi gör de flesta av våra egna produkter vilket innebär att vi har full synlighet och kontroll. Vi utvecklar och förbättrar ständigt våra processer och även om vi växer snabbt kompromissar vi inte med vårt etos när vi expanderar.
          </p>

          <!--<div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="#features">Learn more
              </a>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <Picture src={import("~/assets/images/hero.jpg")}
              class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
              sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
