---
import { Icon } from "astro-icon";
const { } = Astro.props;

const items = [
  [
    {
      question: "Kann ich mit jemandem über meinen Pullover sprechen?",
      answer: `Definitiv. Jedem Kunden wird ein Kundenbetreuer zugewiesen, der während des gesamten Prozesses voll zur Verfügung steht. Während der Geschäftszeiten können Sie in der Regel damit rechnen, dass Sie in weniger als einer Stunde eine Antwort auf Ihre Anfrage erhalten.`,
    },
    {
      question: "Gibt es irgendwelche versteckten Kosten?",
      answer: `Keine! Wir nennen Ihnen den vollen Preis im Voraus, einschließlich Steuern und Versand direkt zu Ihnen nach Hause.`,
    },
    {
      question: "Wie schnell kann ich sie bekommen?",
      answer: `Schnell. Die Pullover werden von Grund auf gestrickt, so dass ein gewisses Maß an Handarbeit erforderlich ist. Dennoch beträgt unsere typische Produktionszeit nur 30 Tage. Auf Anfrage können wir sogar Eilaufträge anbieten. Wenn Sie uns also mitteilen, für wann Sie sie benötigen, können wir Ihnen bestätigen, ob wir Ihren Termin einhalten können. In den seltenen Fällen, in denen wir das nicht können, werden wir es Ihnen sagen.`,
    },
    {
      question: "Kann ich meine eigenen Etiketten bekommen??",
      answer: `Kein Problem - wir können Ihr Logo auf dem Etikett eines jeden hässlichen Pullovers anbringen.`,
    },
    {
      question:
        "Was meinen Sie mit nachhaltig?",
      answer: `Abfall/Deponie - Fast alles Handelsgut landet unbenutzt auf der Deponie. Nicht so bei diesen maßgeschneiderten hässlichen Pullovern - diese einzigartigen Kunstwerke werden von allen geliebt. Unser Ziel ist es, einen einzigartigen Pullover zu kreieren, der immer wieder gerne getragen wird. Wir lieben es, die sozialen Netzwerke zu beobachten, um zu sehen, was aus Ihren Kunstwerken wird. Wir stellen seit über 10 Jahren Pullover her und wissen, wie man sie haltbar macht.

Materialien - Wir verwenden 100% Acrylgarn für die Herstellung der Pullover. Die Pullover sind weich und strapazierfähig und lassen sich gut tragen und waschen. Wir versuchen immer, je nach Verfügbarkeit, recyceltes Acryl zu verwenden. Wir minimieren möglichen Abfall, indem wir nur die exakte Menge an Garn herstellen, die für Ihre Pullover benötigt wird - wir verwenden keine giftigen oder schädlichen Behandlungen im Produktionsprozess.

Arbeitsbedingungen - Wir arbeiten nun schon seit Jahren mit einer ausgewählten Gruppe von Produktionspartnern zusammen, die wirklich erstaunlich sind. Die Arbeitsbedingungen für die Mitarbeiter sind absolut hervorragend - unsere Produktionspartner werden von unabhängiger Seite auditiert und auch wir besuchen die Fabriken regelmäßig, um uns selbst davon zu überzeugen. Wir achten darauf, niemals mit billigen, gefährlichen und ausbeuterischen Produktionspartnern zusammenzuarbeiten.

Baumpflanzung - Natürlich pflanzen wir auch einen Baum für jeden Artikel, den wir herstellen.`,
    },
  ],
  [
    {
      question: "Gibt es irgendwelche Design-Einschränkungen?",
      answer: `Das Design kann überall hin mitgenommen werden, so dass Sie die Vorderseite, die Rückseite und die Ärmel verwenden können. Sie können jede beliebige Farbe verwenden, maximal jedoch 6 Farben pro Design. Die Manschetten, der Kragen und der Saum müssen einfarbig sein, aber ansonsten haben Sie völlige Freiheit, die tollsten Designs zu entwerfen!`,
    },
    {
      question: "Versenden Sie international?",
      answer: `Ja, wir versenden weltweit. Die Versandkosten werden auf der Grundlage des Produkts und der Menge berechnet und werden als Teil der ersten Zahlung berechnet. Wir zeigen Ihnen die Versandkosten zusammen mit der Bezahlung der Hauptbestellung an, alles auf einmal.

Durch frühzeitiges Entwerfen können Sie Ihre Versandkosten reduzieren und Einsparungen erzielen. Für Bestellungen im August haben Sie zum Beispiel eine langsamere Versandoption, was bedeutet, dass Ihre Artikel Anfang November eintreffen werden. Sie sparen eine Menge Kosten für einen langsameren Versand und haben viel Zeit, Ihre Pullover zu vermarkten und zu verkaufen. Darüber hinaus ist es viel besser für die Umwelt.

Wenn Sie später bestellen möchten, können wir die Pullover wie immer unglaublich schnell herstellen und versenden.`,
    },
    {
      question:
        "Haben Sie eine Fabrik für hässliche Pullover?",
      answer: `Ja, das tun wir. Wir stellen alle unsere Pullover in einer nachhaltigen Fabrik her, in der die Menschen fair behandelt werden und wir ethische Produktionsmethoden anwenden.

Wir verwenden die neuesten Technologien, um alle Ihre Pullover zu stricken - fortschrittliche Strickmaschinen sind in der Lage, erstaunliche Designs zu stricken, die hervorragend aussehen und sich auch so anfühlen.

Wir fertigen seit fast zehn Jahren hässliche Pullover nach Maß an - wir haben viel Erfahrung und die meisten unserer Kunden kommen immer wieder zurück. Die Strickwaren, die wir herstellen, sind von hervorragender Qualität.

Um loszulegen, klicken Sie einfach auf den untenstehenden Link und wir helfen Ihnen gerne weiter.`,
    },
  ],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
        Häufig gestellte Fragen
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
      {
      items.map((subitems) => (
      <div class="space-y-8">
        {subitems.map(({ question, answer }) => (
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon name="tabler:arrow-down-right" class="w-7 h-7 text-blue-500 inline-block icon-bold" />
            {question}
          </p>
          {answer.split("\n\n").map((paragraph) => (
          <p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
          ))}
        </div>
        ))}
      </div>
      ))
      }
    </div>
  </div>
</div>