---
import { Icon } from "astro-icon";
const { } = Astro.props;

const items = [
  [
    {
      question: "Kan jeg snakke med noen om genseren min?",
      answer: `Absolutt. Hver kunde får tildelt en kontoansvarlig, og de vil være fullt tilgjengelige gjennom hele prosessen. I arbeidstiden kan du vanligvis forvente å høre tilbake på ethvert spørsmål på under en time.`,
    },
    {
      question: "Er det noen skjulte kostnader?",
      answer: `Ingen! Vi gir deg hele prisen på forhånd, inkludert både avgifter og frakt rett på døren.`,
    },
    {
      question: "Hvor raskt kan jeg få dem?",
      answer: `Rask. Genserne er strikket fra bunnen av, så det er litt håndarbeid involvert, men vår typiske produksjonstid er bare 30 dager. Vi kan til og med tilby hastebestillinger på forespørsel, så hvis du gir oss beskjed når du trenger dem, vil vi kunne bekrefte om vi kan møte datoen din. I de sjeldne tilfellene vi ikke kan, vil vi fortelle deg det.`,
    },
    {
      question: "Kan jeg få mine egne etiketter?",
      answer: `Ikke noe problem - vi kan lage og inkludere logoen din på etiketten til hver stygge genser.`,
    },
    {
      question:
        "Hva mener du med bærekraftig??",
      answer: `Avfall / Deponi - Nesten all vare havner på deponi uten å bli brukt. Ikke disse skreddersydde stygge genserne - disse unike kunstverkene er elsket av alle. Målet vårt er å lage en unik genser som er elsket og gjenbrukt om og om igjen. Vi elsker å se sosialt for å se hvordan kunstverkene dine ender opp. Vi har laget gensere i over 10 år, og vi vet hvordan vi skal få dem til å vare.

Materialer - Vi bruker 100% akrylgarn til å lage genserne. Genserne er myke og slitesterke og slites og vaskes godt. Vi prøver alltid å bruke resirkulert akryl avhengig av tilgjengelighet. Vi minimerer potensielt avfall og lager bare den nøyaktige mengden garn som kreves for genserne dine - vi bruker ingen giftige eller skadelige behandlinger i produksjonsprosessen.

Arbeidsforhold - Vi har jobbet med en utvalgt gruppe produksjonspartnere i mange år nå, og de er virkelig fantastiske. Arbeidsforholdene for personalet er helt utmerket - våre produksjonspartnere revideres uavhengig og vi besøker også fabrikkene med jevne mellomrom for å sjekke selv. Vi passer på å aldri jobbe med billige, farlige, utnyttende produksjonspartnere.

Treplanting - Selvfølgelig planter vi også et tre for hver gjenstand vi lager.`,
    },
  ],
  [
    {
      question: "Er det noen designbegrensninger?",
      answer: `Designet kan gå hvor som helst slik at du kan bruke forsiden, baksiden og ermene. Du kan bruke alle farger du liker med maksimalt 6 farger per design. Mansjettene, kragene og falden må være ensfarget, men bortsett fra det har du total frihet til å lage bare de mest fantastiske designene!`,
    },
    {
      question: "Sender du internasjonalt?",
      answer: `Ja, vi sender over hele verden. Fraktkostnaden beregnes basert på produkt og mengde og belastes som en del av den første betalingen. Vi viser deg fraktkostnaden med hovedordrebetalingen, alt på en gang.

Du kan redusere fraktkostnadene og spare ved å designe tidlig. For bestillinger plassert i august har du for eksempel et langsommere fraktalternativ, noe som betyr at varene dine kommer tidlig i november. Det er en enorm kostnadsbesparelse på tregere frakt, og du vil ha mye tid til å selge og selge genserne dine. I tillegg er det mye mye bedre for miljøet.

Hvis du ønsker å bestille senere, som alltid, kan vi lage og sende genserne utrolig raskt.`,
    },
    {
      question:
        "Har du en Ugly genserfabrikk?",
      answer: `Ja det gjør vi. Vi produserer alle våre gensere i en bærekraftig fabrikk hvor folk behandles rettferdig og vi bruker etiske produksjonsmetoder.

Vi bruker den nyeste teknologien for å strikke alle genserne dine - avanserte strikkemaskiner er i stand til å strikke fantastiske design som ser og føles strålende.

Vi har laget skreddersydde stygge gensere i nesten ti år – vi har enorm erfaring og de fleste av kundene våre kommer tilbake gang på gang. Strikketøyet vi lager er den mest fantastiske kvaliteten.

For å komme i gang klikker du bare på lenken nedenfor, så hjelper vi gjerne.`,
    },
  ],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
        Ofte stilte spørsmål
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
      {
      items.map((subitems) => (
      <div class="space-y-8">
        {subitems.map(({ question, answer }) => (
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon name="tabler:arrow-down-right" class="w-7 h-7 text-blue-500 inline-block icon-bold" />
            {question}
          </p>
          {answer.split("\n\n").map((paragraph) => (
          <p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
          ))}
        </div>
        ))}
      </div>
      ))
      }
    </div>
  </div>
</div>