---
import { Icon } from "astro-icon";
const { } = Astro.props;

const items = [
  [
    {
      question: "Kan jeg få snakke med noen om genseren min?",
      answer: `Absolutt. Hver kunde blir tilordnet en kontoadministrator, og de vil være fullt tilgjengelige gjennom hele prosessen. I arbeidstiden kan du vanligvis forvente å få et svar på et hvilket som helst spørsmål på under en time.`,
    },
    {
      question: "Er det noen skjulte kostnader?",
      answer: `Nei, ingen skjulte kostnader! Vi gir deg full pris på forhånd, inkludert både skatt og frakt rett til døren din.`,
    },
    {
      question: "Hvor fort kan jeg få tak i dem?",
      answer: `Raskt. Genserne strikkes fra bunnen av, så det er noe håndverk involvert, men vår typiske produksjonstid er bare 30 dager. Vi kan til og med tilby hastebestillinger på forespørsel, så hvis du gir oss beskjed om når du trenger dem, vil vi kunne bekrefte om vi kan oppfylle bestillingen innen datoen din. I de sjeldne tilfellene vi ikke kan vil vi fortelle deg det.`,
    },
    {
      question: "Kan jeg få mine egne etiketter?",
      answer: `Ikke noe problem - vi kan lage og inkludere logoen din på etiketten til hver stygge genser.`,
    },
    {
      question:
        "Hva mener dere med bærekraftig?",
      answer: `Søppel - Nesten all plagg med merkevarer havner i søppelet uten bruk. Ikke disse tilpassede stygge genserne - disse unike kunstverkene er elsket av alle. Å lage en unik genser som er elsket og vil brukes om og om igjen, er vårt mål. Vi elsker å følge med på sosiale medier for å se hvordan kunstverkene dine ender opp. Vi har laget gensere i over 10 år, og vi vet hvordan vi skal få dem til å vare. 

Materialer - Vi bruker 100% akrylgarn for å lage genserne. Genserne er myke og holdbare og slites og vaskes godt. Vi prøver alltid å bruke resirkulert akryl avhengig av tilgjengelighet. Vi minimerer potensielt avfall bare for å gjøre den nøyaktige mengden garn som kreves for genserne dine - vi bruker ingen giftige eller skadelige behandlinger i produksjonsprosessen. 

Arbeidsforhold - Vi har jobbet med en utvalgt gruppe produksjonspartnere i mange år nå, og de er virkelig fantastiske. Arbeidsforholdene for ansatte er gode - våre produksjonspartnere revideres uavhengig, og vi besøker også fabrikkene med jevne mellomrom for å sjekke selv. Vi sørger for å aldri jobbe med billige, farlige, utnyttende produksjonspartnere. 

Treplanting - Selvfølgelig planter vi også et tre for hver vare vi lager.`,
    },
  ],
  [
    {
      question: "Er det noen designbegrensninger?",
      answer: `Designet kan plasseres hvor som helst, slik at du kan bruke forsiden, baksiden og ermene. Du kan bruke alle farger du liker, med maksimalt 6 farger per utforming. Mansjetter, krager og kant må være en solid farge, men annet enn at du har total frihet til å lage bare de mest fantastiske designene!`,
    },
    {
      question: "Leverer dere internasjonalt?",
      answer: `Ja, vi sender over hele verden. Fraktkostnaden beregnes basert på produkt og antall og belastes som en del av den første betalingen. Vi vil vise deg fraktkostnaden med hovedbestillingsbetalingen, alt på en gang. 

Du kan redusere fraktkostnadene og spare penger ved å designe tidlig. For eksempel, for bestillinger som er lagt inn i august, har du et tregere fraktalternativ, noe som betyr at varene dine kommer i begynnelsen av november. Det er en enorm kostnadsbesparelse på tregere frakt, og du vil ha mye tid til å selge og selge genserne dine. I tillegg er det mye bedre for miljøet. 

Hvis du ønsker å bestille senere, som alltid, kan vi lage og sende genserne utrolig fort.`,
    },
    {
      question:
        "Har dere en fabrikk for å lage stygg genser?",
      answer: `Ja, det har vi. Vi produserer alle våre gensere i en bærekraftig fabrikk der folk blir behandlet rettferdig og vi bruker etiske produksjonsmetoder. 

Vi bruker den nyeste teknologien til å strikke alle genserne dine - avanserte strikkemaskiner er i stand til å strikke fantastiske design som ser ut og føles strålende. 

Vi har laget tilpassede stygge gensere i nesten ti år - vi har stor erfaring og de fleste av kundene våre kommer tilbake gang på gang. Strikketøyet vi lager er den mest fantastiske kvaliteten. 

For å komme i gang, bare klikk på lenken nedenfor, så hjelper vi deg gjerne.`,
    },
  ],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
        Vanlige spørsmål
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
      {
      items.map((subitems) => (
      <div class="space-y-8">
        {subitems.map(({ question, answer }) => (
        <div>
          <p class="mb-4 text-xl font-bold">
            <Icon name="tabler:arrow-down-right" class="w-7 h-7 text-blue-500 inline-block icon-bold" />
            {question}
          </p>
          {answer.split("\n\n").map((paragraph) => (
          <p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
          ))}
        </div>
        ))}
      </div>
      ))
      }
    </div>
  </div>
</div>