---
import { Icon } from "astro-icon";
import Logo from "~/components/widgets/Logo.astro";
import Deutsch from "~/components/core/Deutsch.astro";

const { } = Astro.props;
---

<header
  class="">
  <div class="">
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <Logo />
      </a>
      <Deutsch />
      

      
      <div class="flex items-center md:hidden">

        
      </div>
    </div>
    <nav>
      <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base">
        <li>
          <a class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="/">Startseite
          </a>
        </li>
        <li>
          <a class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="/galerie">Galerie
          </a>
        </li>
        <li>
          <a class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="/nachhaltigkeit">Nachhaltigkeit
          </a>
        </li>
        <li>
          <a class="font-medium hover:text-gray-900 px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="/faq">FAQ
          </a>
        </li>
        <li>
          <a class="btn text-white bg-green-800 hover:bg-green-600 mb-4 sm:mb-0 font-bold"
                href="/kontakt">Kontakt
          </a>
        </li>
        
      </ul>

    </nav>
  </div>
</header>

<style is:global>
    [data-aw-toggle-menu] path {
      @apply transition;
    }
    [data-aw-toggle-menu].expanded g > path:first-child {
      @apply -rotate-45 translate-y-[14px] translate-x-[-3px];
      /* transform: rotate(-45deg) translate(-12px, 8px); */
    }

    [data-aw-toggle-menu].expanded g > path:last-child {
      @apply rotate-45 translate-y-[-9px] translate-x-[14px];
    }
</style>