---
import Picture from "~/components/core/Picture.astro";
const { } = Astro.props;
---

<section><!--<div class="max-w-6xl bg-blue-50 mx-auto px-4 sm:px-6">-->
  <div class="bg-blue-50 mx-auto px-4 sm:px-6">
    <div class="pt-10 md:pt-10 pb-0 md:pb-0">
      <div class="text-center pb-1 md:pb-1">
        <h1 class="text-3xl md:text-[2.25rem] font-medium leading-tighter tracking-tighter mb-4 lg:mx-20">
          Lag stygge julegensere tilpasset merkevaren din akkurat som våre andre kunder
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Dette er det perfekte plagget for teamet ditt - ideelt for videresalg, kampanjer, markedsføring, gaver og annen moro!
          </p>
          <div>
            <div class="relative flex justify-center mb-8">
              <div class="flex flex-col justify-center">
                <Picture src={import("~/assets/images/roody_client_logos.png")}
                  class="mx-auto" widths={[333, 1000]}
                  sizes=" (max-width: 767px) 333px, 1000px" alt="Hero Image" aspectRatio="3:1" />
              </div>
            </div>
          </div>
          <!--<div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="#features">Learn more
              </a>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <Picture src={import("~/assets/images/hero.jpg")}
              class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700" widths={[400, 768]}
              sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" aspectRatio="16:9" />
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>