---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/xmas-sweater-model.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 640px, 640px"
        alt="#"
        aspectRatio="640:640"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
            Hvordan designer jeg mine tilpassede julegensere?
          </h2>
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Roody har et designteam som lager tilpassede julegensere fra bunnen av. Bare send oss ​​noen få enkle detaljer og vårt fantastiske team vil skape noe helt unikt for din merkevare eller organisasjon.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Vi inkorporerer dine farger, merkevarebygging og vi sørger for at merkevaren din gjenspeiles i strikkeplaggene dine. Foretrekker du å designe genserne internt, er det ikke noe problem – vi har maler og stilguider og hjelper deg gjerne.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Noe av det beste med skreddersydde stygge gensere er at designet kan gå hvor som helst - foran, bak og på ermene. Vi strikker hver genser fra bunnen av ved hjelp av den mest avanserte strikketeknologien og bidrar til å sikre at genserne dine ser strålende ut.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            For å komme i gang klikker du bare på lenken nedenfor, så hjelper vi gjerne.
          </p>

 
          <div class="w-full">
            <a
              class="btn text-white bg-green-800 hover:bg-green-600 mb-4 sm:mb-0 font-bold"
              href="/kontakt"
              >Begynn å lage
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
