---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/xmas-sweater-model.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 640px, 640px"
        alt="#"
        aspectRatio="640:640"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
            Wie entwerfe ich meine individuellen Weihnachtspullover?
          </h2>
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Roody hat ein Designteam, das individuelle Weihnachtspullover von Grund auf entwirft. Schicken Sie uns einfach ein paar einfache Angaben und unser fantastisches Team wird etwas völlig Einzigartiges für Ihre Marke oder Ihr Unternehmen entwerfen.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Wir integrieren Ihre Farben und Ihr Branding und sorgen dafür, dass sich Ihre Marke in Ihrer Strickware widerspiegelt. Wenn Sie die Pullover lieber selbst entwerfen möchten, ist das kein Problem - wir haben Vorlagen und Style Guides und helfen Ihnen gerne dabei.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Eines der besten Dinge an maßgeschneiderten hässlichen Pullovern ist, dass das Design überall sein kann - auf der Vorderseite, der Rückseite und den Ärmeln. Wir stricken jeden Pullover von Grund auf mit der modernsten Stricktechnologie und sorgen dafür, dass Ihre Pullover brillant aussehen werden.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Um loszulegen, klicken Sie einfach auf den untenstehenden Link und wir helfen Ihnen gerne weiter.
          </p>

 
          <div class="w-full">
            <a
              class="btn text-white bg-green-800 hover:bg-green-600 mb-4 sm:mb-0 font-bold"
              href="/kontakt"
              >Erstellen beginnen
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
