---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/purple.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 960px, 639px"
        alt="#"
        aspectRatio="960:639"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
            Wie machen Sie individuelle Weihnachtspullover?
          </h2>
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Roody fertigt seit mehr als 10 Jahren maßgeschneiderte hässliche Weihnachtspullover an. Wir hatten bereits Tausende von Kunden mit vielen verschiedenen Designs und haben unseren Prozess im Laufe der Jahre perfektioniert - es ist so einfach. Die meisten unserer Kunden bestellen mehr als ein Mal.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
