---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/sustainability_large.webp")}
        widths={[480, 435]}
        sizes="(max-width: 768px) 480px, 435px"
        alt="#"
        aspectRatio="480:435"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
            Vores mission
          </h2>
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Vi samarbejder med glade mennesker som dig om at lave lækkert tøj der er elsket, ved hjælp af de bedste materialer og ved at plante en masse træer</p>

            <h4 class="mb-4 text-1xl lg:text-2xl font-bold font-heading">
              Mere end 155.000 træer plantet
            </h4>
            <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
              Vi har sat et mål om at plante 1 million træer inden år 2023. Vi har allerede plantet over 155.000 træer, og vi har mange flere der skal plantes!</p>

        </div>
      </div>
    </div>
  </div>
</section>
