---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/pilots.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 640px, 426px"
        alt="#"
        aspectRatio="640:426"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <p class="mb-8 font-bold text-xl text-gray-600 dark:text-slate-400">
            For å starte, klikker du bare på "Begynn å skape" - knappen nedenfor.
          </p>

          <ul class="list-decimal list-inside mb-8 text-xl text-gray-600 dark:text-slate-400">
            <li class="pb-2">
              Send oss en kort melding. Vi svarer vanligvis superraskt (innen en time i arbeidstiden).
            </li>

            <li class="pb-2">
              Deretter samarbeider vi med deg for å skape et fantastisk design.
            </li>

            <li class="pb-2">
              Når du er fornøyd med designet, lager vi den første genseren du har godkjent, før du går inn i masseproduksjon.</li>

            <li>
              Vi sender dine fantastiske gensere, rett til døren din (hvor som helst i verden). Vi sender også flere steder hvis teamet ditt er eksternt.
            </li>

          </ul>
          <div class="w-full">
            <a
              class="btn text-white bg-green-800 hover:bg-green-600 mb-4 sm:mb-0 font-bold"
              href="/kontakt"
              >Begynn å skape
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
