---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/xmas-sweater-model.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 640px, 640px"
        alt="#"
        aspectRatio="640:640"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
            Hur designar jag mina egna jultröjor?
          </h2>
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Roody har ett designteam som skapar anpassade jultröjor från grunden. Skicka oss bara några enkla detaljer så kommer vårt fantastiska team att skapa något helt unikt för ditt företag eller organisation. 
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Vi använder era färger, varumärken och vi ser till att ert företag återspeglas i era stickade kläder. Om ni föredrar att designa tröjorna internt är det inga problem - vi har mallar och stilguider och hjälper gärna till. 
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            En av de bästa sakerna med anpassade fula tröjor är att designen kan placeras var som helst - på framsidan, baksidan och ärmarna. Vi stickar varje tröja från grunden med den mest avancerade sticktekniken och hjälper till att säkerställa att era tröjor kommer att se lysande ut.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            För att komma i gång, klicka bara på länken nedan så hjälper vi dig gärna.
          </p>

 
          <div class="w-full">
            <a
              class="btn text-white bg-green-800 hover:bg-green-600 mb-4 sm:mb-0 font-bold"
              href="/kontakt"
              >Börja skapa
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
