---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";

const {} = Astro.props;
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import("~/assets/images/xmas-sweater-model.jpg")}
        widths={[400, 768]}
        sizes="(max-width: 768px) 640px, 640px"
        alt="#"
        aspectRatio="640:640"
      />
    </div>
    <div class="md:py-6 md:pl-16 text-gray-700 dark:text-gray-400">
      <div class="flex">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
            Hvordan designer jeg mine skræddersyede julesweaters?
          </h2>
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Roody har et hold af designere som skaber de personliggjorte julesweatre fra bunden. Send os blot et par enkle detaljer, så vil vores fantastiske hold skabe noget helt unikt til dit brand eller din virksomhed.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Vi indarbejder jeres virksomheds farver og branding, ligesom vi også sørger for at dit brand afspejles i din striktrøje. Hvis du foretrækker at designe trøjerne internt er det ikke noget problem - vi har skabeloner og stilguides og hjælper gerne med det.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            En af de bedste ting ved skræddersyede grimme trøjer er at designet kan placeres overalt - på forsiden, bagsiden og ærmerne. Vi strikker alle trøjer fra bunden med den mest avancerede strikketeknologi, og vi hjælper med at sikre at dine trøjer kommer til at se strålende ud.
          </p>

          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Hvis du vil i gang skal du blot klikke på linket nedenfor, så hjælper vi dig godt på vej.
          </p>

          <div class="w-full">
            <a
              class="btn text-white bg-green-800 hover:bg-green-600 mb-4 sm:mb-0 font-bold"
              href="/kontakt"
              >Begynd at skabe
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
