---
import { SITE } from "~/config.mjs"

import "~/assets/styles/base.css";

import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";
import Analytics from '@julian_cataldo/astro-analytics/Analytics.astro';

const { meta = {} } = Astro.props;
const { googleAnalyticsId = false } = SITE;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[24px]">

<head>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
/>
  <MetaTags {...meta} />
  {googleAnalyticsId &&
  <Analytics id={googleAnalyticsId} />}
</head>

<body class="antialiased text-gray-900 tracking-tight bg-white">
  <slot />
  <BasicScripts />
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>