---
import { SITE } from "~/config.mjs"

import "~/assets/styles/base.css";

import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";
import Analytics from '@julian_cataldo/astro-analytics/Analytics.astro';

const { meta = {} } = Astro.props;
const { googleAnalyticsId = false } = SITE;
---

<!DOCTYPE html>
<html lang="de" class="motion-safe:scroll-smooth 2xl:text-[24px]">

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
  <MetaTags {...meta} />
  {googleAnalyticsId &&
  <Analytics id={googleAnalyticsId} />}
</head>

<body class="antialiased text-gray-900 tracking-tight bg-white">
  <slot />
  <BasicScripts />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>